@import url(https://fonts.googleapis.com/css?family=Exo:100);
$principalColor: rgb(0, 0, 0);

$bg-url: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC";
$bg-width: 50px;
$bg-height: 50px;

//GENERAL STYLES
@-webkit-keyframes bg-scrolling-reverse {
    100% { background-position: $bg-width $bg-height; }
}
@-moz-keyframes    bg-scrolling-reverse {
    100% { background-position: $bg-width $bg-height; }
}
@-o-keyframes      bg-scrolling-reverse {
    100% { background-position: $bg-width $bg-height; }
}
@keyframes         bg-scrolling-reverse {
    100% { background-position: $bg-width $bg-height; }
}

@-webkit-keyframes bg-scrolling {
    0% { background-position: $bg-width $bg-height; }
}
@-moz-keyframes    bg-scrolling {
    0% { background-position: $bg-width $bg-height; }
}
@-o-keyframes      bg-scrolling {
    0% { background-position: $bg-width $bg-height; }
}
@keyframes         bg-scrolling {
        0% { background-position: $bg-width $bg-height; }
}
.container {
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
    background: url($bg-url) repeat 0 0;
    font-family: exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
    -webkit-animation: bg-scrolling-reverse .92s infinite; /* Safari 4+ */
    -moz-animation:    bg-scrolling-reverse .92s infinite; /* Fx 5+ */
    -o-animation:      bg-scrolling-reverse .92s infinite; /* Opera 12+ */
    animation:         bg-scrolling-reverse .92s infinite; /* IE 10+ */
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function:    linear;
    -o-animation-timing-function:      linear;
    animation-timing-function:         linear;
    font-weight: bold;
}
.musicButtonContainer {
    display: flex;
    justify-content: end;
}
.musicButton {
    margin:20px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    padding: 15px;
    border: $principalColor 3px solid;
    transition: .25s;
    color: $principalColor;
    &:hover {
        background-color: $principalColor;
        color: white;
    }
    .musicIcon {
        font-size: 40px;
    }
}
.exitArrowContainer {
    display: flex;
    .exitIcon {
        margin: 20px;
        border-radius: 50%;
        padding: 15px;
        border: $principalColor 3px solid;
        font-size: 76px !important;
        color: $principalColor;
        transition: .25s !important;
        &:hover {
            background-color: $principalColor;
            color: white;
        }
    }
}
//HOME 
.homeContainer { 
    margin: auto;
    width: 600px;
    .title {
        margin-top: 0;
        margin-bottom: 40px;
        font-size: 100px;
    }
    a {
        text-decoration: none;
        color: $principalColor;
        font-size: 30px;
    }
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        a {
            border: 2px solid $principalColor;
            border-radius: 40px;
            padding: 5px 30px;
            font-family: exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
            color: $principalColor;
            font-size: 26px;
            transition: .25s;
            &:hover {
                background-color: $principalColor;
                color: white;
            }
        }
    }
}

//HOW TO PLAY
.howToPlayContainer {
    display: flex;
    justify-content: center;
    text-align: justify;
    div {
        color: $principalColor;
    }
    h3 {
        text-align: center;
        margin: 0;
        font-size: 60px;
    }
    p {
        margin: 15px;
        width: 900px;
        font-size: 24px;
    }
    color: lightgray;
}

//GAME
.modal {
    overflow-y: auto;
}
.boxModal {
    max-height: 95% !important;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.questionContainer {
    width: 600px;
    display: flex; 
    flex-direction: column;
    gap: 15px;
    h3 {
        margin: 0;
    }
}
.congratsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: white;
    .playAgainButton {
        cursor: pointer;
        width: 200px;
        background-color: transparent;
        border-radius: 40px;
        padding: 7.5px;
        font-size: 22px;
        border: 2px solid white;
        color: white;
        font-weight: bold;
        font-family: exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
    }
}
.counterContainer {
    font-size: 30px;
    display: flex;
    flex-direction: column;
}
ul {
    padding: 0;
}
.category {
    cursor: pointer;
    transition: .25s;
}
.MuiBackdrop-root {
    min-width: none !important;
    transition: 0ms !important;
    background-color: rgba(0, 0, 0, 0.95) !important;
    height: 200vh;
    width: 200vw;
}
.answerButton {
    font-family: exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
    margin-bottom: 10px;
    width: 100%;
    padding:10px;
    border-radius: 40px;
    border: 2px solid black;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}
.correctAnswer {
    background-color: rgb(52, 128, 52)
}
#incorrectAnswer {
    background-color: rgb(145, 62, 62)
}
.spinAgainButtonContainer {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    .spinAgainButton {
        background-color: black;
        color: white;
        border:2px solid white;
        border-radius: 40px;
        width:200px;
    }
    span {
        font-size: 22px;
    }
    .incorrectMessage {
        color: red !important;
    }
    .correctMessage {
        color: green !important;
    }
}
.nonClickableButton {
    cursor: default !important;
}

.roulette-container {
    width: 550px;
    position: relative;
    aspect-ratio: 1;
    margin: 0 auto;
}
.button {
    font-size: larger;
    border: none;
    outline: none;
    background: transparent;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    padding: 5px;
    cursor: pointer;
}
.roulette-button {
    font-family: exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: +9;
    border-radius: 5rem;
    width: 5.5rem;
    height: 5.5rem;
    transform: translate(-55%, -55%);
    background: white;
    border:2px solid $principalColor;
    font-size:18px;
    font-weight: bold;
    transition: .25s;
    &:hover {
        background-color: $principalColor;
        color: black;
        color: white;
    }
}

.game {
    margin: auto;
    text-align: center;
}

.roulette-container > div {
    width: 100%;
    height: 100%;
    max-width: unset;
    max-height: unset;
}

//LOADER
.loaderContainer {
    position: absolute;
    background-color: rgba(7, 7, 7, 0.95);
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    z-index: 1301;
}
.loader {
    position: absolute;
    top: 50%;
    width: 130px;
    height: 48px;
    display: inline-block;
    background: linear-gradient(45deg, #000 25%, transparent 25%, transparent 75%, #000 75%, #000 100%), linear-gradient(45deg, #000 25%, white 25%, white 75%, #000 75%, #000 100%);
    font-size: 10px;
    background-size: 32px 32px;
    box-sizing: border-box;
    animation: raceBoard 0.6s linear infinite;
    background-position: 0 0, 16px 16px;
}
@keyframes raceBoard {
    0% {
    background-position: 0 0, 16px 16px;
    }
    100% {
    background-position: 32px 0px, 48px 16px;
    }
}

//RESPONSIVE WEB DESIGN
@media screen and (max-width: 1000px) {
    .howToPlayContainer {
        h3 {
            font-size: 50px;
            margin: 20px 0;
        }
        p {
            font-size: 20px;
            width: 90vw;
        }
    }
}
@media screen and (max-width: 800px) {
    .roulette-container {
        width: 70vw;
    }
    .questionContainer {
        width: 90vw;
        h3 {
            font-size: 30px !important;
        }
        span {
            font-size: 24px !important;
        }
    }
    .roulette-button {
        width:80px;
        height: 80px;
    }
    .homeContainer{
        width: 90vw;
    }
}